@charset "UTF-8";

.container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.mainbar {
  width: 70%;
  float: right;
}

.sidebar {
  width: 30%;
  float: left;
  overflow-y: scroll;
    padding-bottom: 50px;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: black;
  height: 48px;
}
.navbar_right {
  position: absolute;
  right: 0;
  margin-right: 20px;
  color: white;
  font-size: 15px;
}

.navbar_center {
  color: white;
  font-size: 15px;
}

.imgwrapper {
  text-align: center;
}

.imgwrapper img {
  width: 540px;
  height: 270px;
}

.online-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 50px;
  max-width: 410px;
  margin-left: auto;
  margin-right: auto;
}

.online {
  display: flex;
  align-items: center;
}

.friendsicon {
  display: flex;
  justify-content: right;
  align-items: center;
}

.icon {
  display: flex;
}

.icon img{
  width: 37px;
  height: 37px;
}

.main {
    max-width: 440px;
    margin-left: auto;
    margin-right: auto;
}

.mainicon ul{
  display: flex;
  text-align: center;
}

.mainicon li{
  list-style-type: none;
}

.mainicon img {
  max-width: 118px;
  max-height: 118px;
}

.normalicon {
  column-gap: 7%;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  margin-top: 35px;
  padding: 0 5px;
  row-gap: 35px;
}

.normalicon img {
  max-width: 79px;
  max-height: 79px;
  object-fit: cover;
}

.sidebar-home {
  align-items: center;
  display: flex;
  font-size: 13px;
  line-height: 30px;
  margin-bottom: 10px;
  text-align: left;
}

.sidebar-samon {
  align-items: center;
  display: flex;
  font-size: 13px;
  line-height: 30px;
  margin-bottom: 10px;
  text-align: left;
}

.acd-check{
  display: none;
}
.acd-label{
  display: block;
  margin-bottom: 1px;
  padding: 10px;
  font-size: 18px;
}
.acd-content{
  height: 0;
  opacity: 0;
  padding: 0 10px;
  transition: 0s;
  visibility: hidden;
  font-size: 13px;
}
.acd-check:checked + .acd-label + .acd-content{
  height: 40px;
  opacity: 1;
  padding: 10px;
  visibility: visible;
}
