<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>イカリング3</title>
  <link rel="stylesheet" type="text/css" href="ika-ring3.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>
<body>
  <div class="mainbar">
    <div class="navbar">
      <div class="navbar_center">イカリング3</div>
      <div class="navbar_right">おわる</div>
    </div>
    <div class="imgwrapper">
      <img src="picture/ika1.png" alt="コーデ">
    </div>
    <div class="online-wrapper">
      <div class="online">
        <div class="onlinestatus">・</div>
        <div class="onlineword">オンライン</div>
      </div>
      <div class="friendsicon">
        <div class="icon">
          <img src="onlineicon/ikaicon1.jpeg">
          <img src="onlineicon/ikaicon2.jpeg">
          <img src="onlineicon/ikaicon3.jpeg">
        </div>
        <p>+7</p>
      </div>
    </div>
    <div class="main">
      <div class="mainicon">
        <ul>
          <li>
            <img src="manuicon/mainicon1.jpeg"><p>ゲソタウン</p>
          </li>
          <li>
            <img src="manuicon/mainicon2.jpeg"><p>マイコーデ</p>
          </li>
          <li>
            <img src="manuicon/mainicon3.jpeg"><p>ヒストリー</p>
          </li>
        </ul>
      </div>
      <div class="normalicon">
        <div class="arubam">
          <img class="arubam_icon" src="manuicon/arubam.png" alt="アルバム">
          <div class="appname_arubam">アルバム</div>
        </div>
        <div class="hero">
          <img class="hero_icon" src="manuicon/hero.png" alt="ヒーローモード">
          <div class="appname_hero">ヒーローモード</div>
        </div>
        <div class="katarogu">
          <img class="katarogu_icon" src="manuicon/katarogu.png" alt="カタログ">
          <div class="appname_katarogu">カタログ</div>
        </div>
        <div class="memory">
        <img class="memory_icon" src="manuicon/memory.png" alt="メモリープレーヤー">
        <div class="appname_memory">メモリープレーヤー</div>
        </div>
        <div class="stage">
          <img  class="stage_icon" src="manuicon/stage.png">
          <div class="appname_stage">ステージ</div>
        </div>
        <div class="QRcode">
          <img class="QRcode_icon" src="manuicon/QRcode.png">
          <div class="appname_QRcode">QRコード</div>
        </div>
        <div class="robuiti">
          <img class="robuiti_icon" src="manuicon/robuiti.png">
          <div class="appname_stage">ロブイチ</div>
        </div>
        <div class="wepon">
          <img class= "wepon" src="manuicon/wepon.png">
          <div class="appname_wepon">ブキ</div>
        </div>
      </div>
    </div>
  </div>
  <div class="sidebar">
    <div class="sidebar-home">
      <img src="sidebar-icon/homeicon.png" alt="ホーム">
      <div>ホーム</div>
    </div>
      <div class="sidebar-samon">
        <img src="sidebar-icon/samon-icon.png" alt="サーモンラン">
        <div>サーモンラン</div>
      </div>
    </div>
    <div id="app1">
      <input type="checkbox" v-model="showText" >
      <label for="textCheckbox" @click="toggleText">バトル</label>
      <ul v-if="showText">
        <li v-for="value in schedule">{{ value }}</li>
      </ul>
    </div>
    <div id="app2">
      <input type="checkbox" v-model="showText" >
      <label for="textCheckbox" @click="toggleText">バトル</label>
      <ul v-if="showText">
        <li v-for="value in schedule">{{ value }}</li>
      </ul>
    </div>
  </div>
  <script src="ika-ring3.js"></script>
</body>
</html>